---
import MasonryTab from "./MasonryTab.astro";

interface Props {
  data: any[];
  indices: Map<string, number>;
}

const { data, indices } = Astro.props;
---

<div class="hidden grid-cols-4 gap-10 py-10 xl:grid">
  {
    [1, 2, 3, 4].map((idx) => (
      <div class="flex flex-col gap-10">
        {data
          .filter((node) => node.xlCol === idx)
          .map((frame) => (
            <MasonryTab idx={indices.get(frame.name)!} name={frame.name} artist={frame.artist.name} thumbnail={frame.images.thumbnail} />
          ))}
      </div>
    ))
  }
</div>
